src/main/mule/restaurante-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="restaurante-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${secure::http.port}" protocol="HTTPS" tlsContext="TLS_Context"/>
    </http:listener-config>
    <apikit:config name="restaurante-system-api-config" api="restaurante-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="0d7346ab-bb67-4934-939e-9758a438378c" >
		<tls:trust-store insecure="true" />
		<tls:key-store type="jks" path="${secure::key.path}" alias="${secure::key.alias}" keyPassword="${secure::key.pass}" password="${secure::key.pass}" />
	</tls:context>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="033af67b-c5f8-483e-9b9e-45d1992567da" >
		<salesforce:basic-connection username="${secure::sf.user}" password="${secure::sf.pass}" securityToken="${secure::sf.token}" />
	</salesforce:sfdc-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="05b9da40-1d19-4967-8e49-cf61532f7a3e">
		<http:request-connection protocol="HTTPS" host="graph.facebook.com"/>
		<http:default-headers >
			<http:default-header key="Authorization" value="Bearer EAAEfa0V5PHIBO18c6EGzVf9Pz8JsDpPZCAWZBWdjks6JMkMSnJSicbzJXACJxSqQJzOwyKo9hr9Tpd3UCIMZAK1srFxpw3NCMqAcir64kZAWB7gSr5xhOJJlZCgYnWQ7OxmFckUleFDyGDVLU6P68DUMZAK1UR951XV8FG1s6fvZBXRZCNlqhmjIkbqbxy4s1orcEQjcveOWcnJSe0aZCwSAZD" />
		</http:default-headers>
	</http:request-config>
	<flow name="restaurante-system-api-main">
        <http:listener config-ref="restaurante-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="restaurante-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found",
	details: error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed",
	details : error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="restaurante-system-api-console">
        <http:listener config-ref="restaurante-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="restaurante-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found",
	details: error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\ordenes\(id):restaurante-system-api-config" doc:id="18c81898-4488-4b36-b888-ac0d9d8344cc" >
		<ee:transform doc:name="Mapeo De Datos" doc:id="e23a58ad-1fd2-41c0-a725-c9471e50050d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: attributes.uriParams.id,
	Estado__c : payload.Estado
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Ordenes__c" doc:name="Modificacion Parcial De Orden" doc:id="41f32710-30aa-461a-ac60-1a4c54308d25" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="42c413ba-ef76-4413-82a9-5db9dc54fdc9" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="f28eb187-6df4-4c83-8f76-f2ada5cef3c7" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Orden Modificada" doc:id="585ad149-014e-4b2c-a640-d9a86328dcd6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Orden actualizada."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="df3005e2-01ef-498f-81eb-c4bf3a598847" >
				<ee:transform doc:name="Orden No Modificada" doc:id="64c452f1-2a64-4a74-b6ff-59d2be4652f7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="put:\menu\(id):restaurante-system-api-config" doc:id="4e9178a6-8e91-4d13-a14c-f39d7bb94161" >
		<ee:transform doc:name="Mapeo De Datos" doc:id="f8f6dc24-f16e-4d83-9dbb-70d87eee61df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: attributes.uriParams.id,
	Nombre__c: payload.Nombre,
	Precio__c: payload.Precio,
	Porciones__c: payload.Porciones,
	Tiempo_de_preparacion__c: payload.Tiempo,
	Imagen__c: payload.Imagen
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Menu__c" doc:name="Modificar Menu" doc:id="64ed2ef9-96a8-4ab2-adf4-add2f830c0cf" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="eda48c2a-7a23-4ed0-9b55-5de615759fee" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="3ddef6f1-56b9-4c71-863c-f12b51a48e14" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Menu Modificado" doc:id="cd311599-5a3c-4eeb-b47e-870a220bc80f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Menu actualizado."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="895461d8-1148-4aa7-ab64-6431c1661492" >
				<ee:transform doc:name="Menu No Modificado" doc:id="cb1d5c37-5684-4eb0-8673-171a6ed38b50" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="delete:\usuarios\(id):restaurante-system-api-config">
        <salesforce:query doc:name="Obtener Usuario A Eliminar" doc:id="db3cfb88-1c05-47e3-a5fa-f912e75d963a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Usuarios__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Mapeo De Datos" doc:id="60d24aa4-77cb-465d-9d08-04d76110f513" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Eliminar Usuario" doc:id="bf973305-7923-4f83-8495-9c6b695de0fd" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="a4013b0a-978f-4923-9365-5c6533ba3aef" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="e2a6983f-c23c-48f6-b92d-a1d56d0672b0" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Usuario Eliminado" doc:id="44fdc4d6-6fda-4b71-a35d-d0a89e1d51ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Usuario eliminado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2c3bb711-9fe0-4605-9979-151e67ad046a" >
				<ee:transform doc:name="Usuario No Eliminado" doc:id="09f76861-7101-4fbe-a38c-27ad2cf90241" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="delete:\kart\(id)\(idP):restaurante-system-api-config" doc:id="572cd0db-765a-4f82-bf7f-3648cb053d0c" >
		<salesforce:query doc:name="Obtener Carrito A Eliminar" doc:id="0140d3dc-3690-49d5-b800-047dcf02b206" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Kart__c
WHERE IdProducto__c = ':idP']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	idP : attributes.uriParams.idP
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Mapeo De Datos" doc:id="2019d315-a5d8-4702-b07f-95d83620ee69" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Eliminar Carrito" doc:id="fcc770e7-25cb-4687-961b-cdc6693a0be3" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="fba338e5-53ff-431b-b365-5750c1115154" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="df771d1f-e579-4d57-ac6e-38dd3a5e7f29" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Carrito Eliminado" doc:id="2a2e5ff6-5a04-444b-bc93-44d697ab197e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Producto eliminado del carrito."
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b62e6b97-d994-4d7a-bbe4-3827fec017f4" >
				<ee:transform doc:name="Carrito No Eliminado" doc:id="0adbb3c8-6b61-4af5-a65f-f4ff203e7500" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="delete:\reservar\(id):restaurante-system-api-config">
		<salesforce:query doc:name="Obtener Reservacion A Eliminar" doc:id="90910175-cb3f-4590-bbff-c5140e10861c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Reservaciones__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Mapeo De Datos" doc:id="f827cc7f-a685-4f4f-94c7-ffcddfa62666" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Eliminar Reservacion" doc:id="02411d38-df02-455a-a0f4-6add86d4e5a2" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="13fb2350-0b2f-4c2f-b22a-c4051e9cee4a" >
			<when expression='#[payload.successful == false]'>
				<raise-error doc:name="Raise error" doc:id="37440165-044f-4504-86f7-4041d939e129" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Reservacion Eliminada" doc:id="198b77d1-067d-4f8e-8025-84e85e5986fe" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Reservacion eliminada."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f6f088f9-3827-4d7b-8152-5af229a0e1dd" >
				<ee:transform doc:name="Reservacion No Eliminada" doc:id="af116e65-cf9d-4105-9b94-c5a7ec7b262b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="delete:\menu\(id):restaurante-system-api-config">
		<salesforce:query doc:name="Obtener Menu A Eliminar" doc:id="ec26496d-efc3-4071-890a-ef9e1965968c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Menu__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Mapeo De Datos" doc:id="48c2c76d-1aca-4dea-ba30-07fc32b02bb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Eliminar Menu" doc:id="c591d6fa-7f6c-46ff-82e8-36a2124890f8" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="24479a92-5207-40de-8839-174e0de5e02c" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="0f3d4470-3f55-4d12-b9f7-58b33340eb17" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Menu Eliminado" doc:id="47a9f38f-66ea-4338-a8d2-2b9fbc2ffc00" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Menu eliminado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3e97b168-b499-4ece-9d96-ed019e0925d7" >
				<ee:transform doc:name="Menu No Eliminado" doc:id="9b987b24-f5a5-4796-a783-c2ce16cbbcb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\menu:restaurante-system-api-config">
        <choice doc:name="Choice" doc:id="e0ad993b-c60f-4451-b7e3-62fd8ee3945b" >
			<when expression="#[attributes.queryParams.nombre?]">
				<salesforce:query doc:name="Obtener Menu Por Nombre" doc:id="73aa4d3d-8bfc-4cec-b293-dc2156bf0d0e" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Precio__c, Porciones__c,
	Tiempo_de_preparacion__c, Imagen__c
FROM Menu__c
WHERE Nombre__c LIKE ':nombre']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	"nombre" : '%' ++ attributes.queryParams.nombre ++ '%'
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Obtener Todo El Menu" doc:id="ddb70e68-71ca-4320-9941-01ab23f90514" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Precio__c, Porciones__c,
	Tiempo_de_preparacion__c, Imagen__c
FROM Menu__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="d4f23c7a-8eed-4c93-84fa-7f74eedb7a20" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Menu No Encontrado" doc:id="ffbf2ce4-37a5-431b-98f8-9dfe5fedaef8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Menu No Encontrado">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
	<flow name="get:\ordenes:restaurante-system-api-config" doc:id="c9c43944-3d45-4e19-b48c-17f94b82bca4" >
		<choice doc:name="Choice" doc:id="d524a3e2-1c1e-40de-a1d3-fb8173976ec4" >
			<when expression='#[attributes.queryParams.activas == "true"]'>
				<salesforce:query doc:name="Obtener Ordenes Activas" doc:id="6c68b11e-90f1-4e4a-958f-35ad1dff9db4" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, ClienteId__c, Total__c, Tipo_pago__c, Tipo_entrega__c,
	Celular__c, Productos__c, Estado__c
FROM Ordenes__c
WHERE Estado__c = 'Activa']]></salesforce:salesforce-query>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Obtener Todas Las Ordenes" doc:id="56a08239-a68d-439f-90f2-c5ac5cd0131b" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, ClienteId__c, Total__c, Tipo_pago__c, Tipo_entrega__c,
	Celular__c, Productos__c, Estado__c
FROM Ordenes__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="331b5b32-fc72-4b13-90be-f767d3d5d5c7" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Ordenes No Encontradas" doc:id="5ddb7399-1369-431d-b94f-f99437cf7bc8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Ordenes Encontradas" doc:id="71a16f94-1ee4-4416-8ddd-50440d07c70f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\kart\(id):restaurante-system-api-config" doc:id="ce62fbd0-ca51-465e-bf86-a345b32a37e5" >
		<salesforce:query doc:name="Obtener Carritos" doc:id="3cd87b7b-d7c1-4c0a-a6c6-33045ca65bca" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, IdProducto__c, Precio__c
FROM Kart__c
WHERE IdUsuario__c = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="fa4da4e4-2349-4cec-9485-5dffe3264ba9" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Resultados No Encontrados" doc:id="c28feeff-a463-4394-8858-259d036419b7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron elementos en el carrito"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Resultados Encontrados" doc:id="43c62f94-2b29-4e7e-80c2-b05464bd6b6b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\reservar:restaurante-system-api-config">
		<choice doc:name="Choice" doc:id="f82d9c51-79eb-4858-9e75-06e576c6de16" >
			<when expression="#[attributes.queryParams.fecha?]" >
				<salesforce:query doc:name="Obtener Reservaciones Por Fecha" doc:id="4619f18a-a029-448f-b272-920bf6310e4d" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Fecha__c, Hora__c, Celular__c, Personas__c, Tipo_Pago__c, Anotaciones__c
FROM Reservaciones__c
WHERE Fecha__c = ':fecha']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	fecha : attributes.queryParams.fecha
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Obtener Reservaciones" doc:id="3201bb17-edcc-4a0f-93a1-a8b32db40286" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Fecha__c, Hora__c, Celular__c, Personas__c, Tipo_Pago__c, Anotaciones__c
FROM Reservaciones__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="4e55c84c-4aed-49a9-9a2f-a2bde9f2ee63" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Resultados No Encontrados" doc:id="90ee2c16-ea9a-4d59-893a-713da0f086f9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Resultados Encontrados">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\usuarios:restaurante-system-api-config">
        <salesforce:query doc:name="Obtener Usuarios" doc:id="8f36dbc8-ba92-45a0-ba8c-904414faa3dc" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Rol__c, Correo__c, Direccion__c, Celular__c
FROM Usuarios__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Usuarios Encontrados">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\menu:application\json:restaurante-system-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="5439f357-8562-44ad-bc47-42f2b7ba7c25" message="#[payload]"/>
		<ee:transform doc:name="Mapeo De Datos">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		Nombre__c : payload.Nombre,
		Precio__c : payload.Precio,
		Porciones__c : payload.Porciones,
		Tiempo_de_preparacion__c : payload.Tiempo,
		Imagen__c : payload.Imagen
	}
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create doc:name="Creacion Del Menu" doc:id="d5cf6907-6b2d-4a4d-b4fa-cd86723b8d8e" config-ref="Salesforce_Config" type="Menu__c"/>
		<choice doc:name="Choice" doc:id="30fb1af4-bb2b-45eb-bcc7-94ee2b984534" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="aaec384b-6211-412c-9d33-f02e119282a7" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Menu Creado" doc:id="83c12d46-533b-4320-bc44-d6ebf556cd55">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Menu creado."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="77431ff9-0984-4e24-8293-1edd66f5e5ca" >
				<ee:transform doc:name="Menu No Creado" doc:id="20b48f77-1ee4-4f1a-ae40-e7fc67069430" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\reservar:application\json:restaurante-system-api-config">
        <ee:transform doc:name="Mapeo De Datos">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  Fecha__c: payload.Fecha,
  Hora__c: payload.Hora,
  Celular__c : payload.Celular,
  Personas__c: payload.Personas,
  Tipo_pago__c: payload.Pago,
  Anotaciones__c: payload.Anotaciones
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create type="Reservaciones__c" doc:name="Creacion De La Reservacion" doc:id="0fdca168-5988-4633-9015-3ef3f696908d" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="a63cfbe6-bb40-4bf1-9e50-be70f5f585e7" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="cfb3c541-2daf-4fa6-b0a7-5300ebee7b1d" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Reservacion Creada" doc:id="b0723fe0-b783-430c-82ca-0470162e157e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Reservacion creada."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0769faf5-7d0b-4e6a-a5cb-c0a576896c20" >
				<ee:transform doc:name="Reservacion No Creada" doc:id="871b5141-b611-4085-8c01-c9b0d130c185" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="post:\kart:application\json:restaurante-system-api-config" doc:id="70278d8c-f218-48ed-b859-887aa826aba9" >
		<ee:transform doc:name="Mapeo De Datos" doc:id="8e59f4af-5a1d-459a-9cbb-5ad9735610db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	IdUsuario__c: payload.IdUsuario,
	IdProducto__c: payload.IdProducto,
	Precio__c: payload.Precio
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Insercion De Carrito" doc:id="ed4067bc-9abd-4412-b300-6cdc2bf64470" config-ref="Salesforce_Config" type="Kart__c"/>
		<choice doc:name="Choice" doc:id="77f6dd2c-128a-497d-af59-bd877b596a3d" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="2d68b227-e91b-4995-a7eb-c6eb84dcc3f1" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Carrito Creado" doc:id="e68f189b-25cc-4431-80f4-d664280b8c1c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Producto agregado al carrito."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="be7d32aa-a120-4286-ae37-47b3d180a2e1" >
				<ee:transform doc:name="Carrito No Creado" doc:id="1523d855-bc55-4c3e-a93f-bebb67783d21" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\ordenes:application\json:restaurante-system-api-config" doc:id="c0d42eec-2aab-46b6-aa5a-bd8f0ddd9232" >
		<choice doc:name="Choice" doc:id="b6d54f5b-44b0-43af-b67a-ae2cf800f0bb" >
			<when expression='#[payload.Tipo_entrega == "Domicilio"]'>
				<choice doc:name="Choice" doc:id="cffd3dd1-319d-44ab-92e9-9fb2bfd6ffc7" >
					<when expression="#[payload.Direccion?]">
						<ee:transform doc:name="Mapeo De Datos En Entrega A Domicilio" doc:id="fdc6150b-a9ea-43dd-bcaf-ad43d10b673e" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	ClienteId__c : payload.ClienteId,
	Total__c : payload.Total,
	Tipo_pago__c : payload.Tipo_pago,
	Tipo_entrega__c : payload.Tipo_entrega,
	Celular__c : payload.Celular default "",
	Productos__c : payload.Productos,
	Estado__c : "Activa",
	Direccion__c : payload.Direccion,
	Anotactiones__c: payload.Anotaciones
}]]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<raise-error doc:name="Raise error" doc:id="ea0c3a3b-1141-44d3-a603-d5d8359d6e5e" type="VALIDATIONS:DOMICILIO" description="Si selecciona entrega a domicilio indique su direccion."/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Mapeo De Datos en Entrega A Sucursal" doc:id="1449697c-bb60-4c09-8c91-fa6e4da59d02" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	ClienteId__c : payload.ClienteId,
	Total__c : payload.Total,
	Tipo_pago__c : payload.Tipo_pago,
	Tipo_entrega__c : payload.Tipo_entrega,
	Celular__c : payload.Celular default "",
	Productos__c : payload.Productos,
	Estado__c : "Activa",
	Anotaciones__c : payload.Anotaciones
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<salesforce:create type="Ordenes__c" doc:name="Creacion De La Orden" doc:id="ce542a24-15dd-47d5-9416-7eb2c68b3752" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="5ab59139-aab1-4f2c-b7e1-56251481ae58" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="c404915d-3189-4ff6-bdca-1fdf31092741" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Orden Creada" doc:id="af2b2df5-b56b-44ff-86de-b44eb79b0553">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Orden creada."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="12ccae59-7fa8-4b65-ab09-f96e510f4cf6" type="VALIDATIONS:DOMICILIO">
				<ee:transform doc:name="Falta Campo Domicilio" doc:id="17096415-454e-4afc-bdf2-fe3539bbce8f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Si selecciona la entrega a domicilio indique su direrccion."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="385c5984-4bdf-4cc5-b127-d0222ea2343c">
				<ee:transform doc:name="Orden No Creada" doc:id="d7d9d189-b46b-4c46-abd8-aeb83c3c01ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\usuarios:application\json:restaurante-system-api-config">
        <ee:transform doc:name="Mapeo De Datos" doc:id="b88a1329-c7f3-49f3-a097-87017742b77d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	Nombre__c : payload.Nombre,
	Rol__c : "Cliente",
	Direccion__c : payload.Direccion,
	Correo__c : payload.Correo,
	Contrasena__c : payload.Contrasena,
	Celular__c : payload.Celular
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Creacion Del Usuario" doc:id="0cc511af-a14a-49c3-b623-7bf3e5853261" config-ref="Salesforce_Config" type="Usuarios__c"/>
		<choice doc:name="Choice" doc:id="7333284b-1fa0-4b1e-b26d-e8618e6af79d" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="6d087c4a-8d2f-438b-ace2-8892c43d332b" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Usuario Creado">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Usuario creado"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f263c462-4e07-42c7-93c1-9743622853cf" >
				<ee:transform doc:name="Usuario No Creado" doc:id="3921a4d7-3858-43f1-9685-7043b6b50a11" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="post:\ticket:application\json:restaurante-system-api-config" doc:id="b573b438-2598-4136-a474-099722a84220" >
		<ee:transform doc:name="Mapeo De Datos" doc:id="814c9193-fd7f-4d42-a2af-2aed087a24d9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	OrderId__c: payload.OrderId,
	PayerId__c: payload.PayerId,
	Email__c: payload.Email,
	CountryCode__c: payload.CountryCode,
	Amount__c: payload.Amount,
	Currency__c: payload.Currency
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Creacion Del Ticket" doc:id="e6d68c8a-99d4-4841-8522-95286aa138c4" config-ref="Salesforce_Config" type="Tickets__c"/>
		<choice doc:name="Choice" doc:id="4fb4e098-c773-4f38-82ce-c40ce65f97f5" >
			<when expression="#[payload.successful == false]">
				<raise-error doc:name="Raise error" doc:id="e139aa1d-56c2-4d03-9e71-188abcd9d69f" type="MULE:EXPRESSION"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Ticket Creado" doc:id="7b66ad0f-3ea9-4c30-af85-1739d174b40b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ticket creado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a746791c-39c0-4dde-8e8e-beb1eac9e827" >
				<ee:transform doc:name="Ticket No Creado" doc:id="1dbb6a0c-6a2e-4488-a486-760ee5ce143d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error.",
	details : payload.items.exception.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\login:application\json:restaurante-system-api-config" doc:id="27dfa765-3132-410f-ad76-87d6200b4ae6" >
		<salesforce:query doc:name="Obtener Usuario" doc:id="e28849cf-d323-4af9-bd6d-3f37bfbdc4b2" config-ref="Salesforce_Config" escapeSpecialCharactersForParametersValue="true">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Correo__c, Rol__c
FROM Usuarios__c
WHERE Contrasena__c = ':contrasena'
AND Correo__c = ':correo']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	correo : payload.Correo,
	contrasena : payload.Contrasena
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="9547cea6-b988-4b2a-a29f-023fb706360e" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Usuario Encontrado" doc:id="d8d7a84a-acb9-479e-98ba-d2855c2d8312" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	logged : true,
	Rol : payload.Rol__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Usuario No Encontrado" doc:id="e44ff86c-2b54-4d9e-879d-6ad250f0d560" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	logged : false
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
