src/main/mule/restaurante-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="restaurante-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${secure::http.port}" protocol="HTTPS" tlsContext="TLS_Context"/>
    </http:listener-config>
    <apikit:config name="restaurante-system-api-config" api="restaurante-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <tls:context name="TLS_Context" doc:name="TLS Context" doc:id="0d7346ab-bb67-4934-939e-9758a438378c" >
		<tls:key-store type="jks" path="${secure::key.path}" alias="${secure::key.alias}" keyPassword="${secure::key.pass}" password="${secure::key.pass}" />
	</tls:context>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="033af67b-c5f8-483e-9b9e-45d1992567da" >
		<salesforce:basic-connection username="${secure::sf.user}" password="${secure::sf.pass}" securityToken="${secure::sf.token}" />
	</salesforce:sfdc-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="05b9da40-1d19-4967-8e49-cf61532f7a3e">
		<http:request-connection protocol="HTTPS" host="graph.facebook.com"/>
		<http:default-headers >
			<http:default-header key="Authorization" value="Bearer EAAEfa0V5PHIBO18c6EGzVf9Pz8JsDpPZCAWZBWdjks6JMkMSnJSicbzJXACJxSqQJzOwyKo9hr9Tpd3UCIMZAK1srFxpw3NCMqAcir64kZAWB7gSr5xhOJJlZCgYnWQ7OxmFckUleFDyGDVLU6P68DUMZAK1UR951XV8FG1s6fvZBXRZCNlqhmjIkbqbxy4s1orcEQjcveOWcnJSe0aZCwSAZD" />
		</http:default-headers>
	</http:request-config>
	<flow name="restaurante-system-api-main">
        <http:listener config-ref="restaurante-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="restaurante-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Bad request",
	details: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found",
	details: error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="restaurante-system-api-console">
        <http:listener config-ref="restaurante-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="restaurante-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found",
	details: error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\ordenes\(id):restaurante-system-api-config" doc:id="18c81898-4488-4b36-b888-ac0d9d8344cc" >
		<ee:transform doc:name="Transform Message" doc:id="e23a58ad-1fd2-41c0-a725-c9471e50050d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: attributes.uriParams.id,
	Estado__c : payload.Estado
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Ordenes__c" doc:name="Update" doc:id="41f32710-30aa-461a-ac60-1a4c54308d25" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="585ad149-014e-4b2c-a640-d9a86328dcd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="put:\menu\(id):restaurante-system-api-config" doc:id="4e9178a6-8e91-4d13-a14c-f39d7bb94161" >
		<ee:transform doc:name="Transform Message" doc:id="f8f6dc24-f16e-4d83-9dbb-70d87eee61df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: attributes.uriParams.id,
	Nombre__c: payload.Nombre,
	Precio__c: payload.Precio,
	Porciones__c: payload.Porciones,
	Tiempo_de_preparacion__c: payload.Tiempo,
	Imagen__c: payload.Imagen
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Menu__c" doc:name="Update" doc:id="64ed2ef9-96a8-4ab2-adf4-add2f830c0cf" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="cd311599-5a3c-4eeb-b47e-870a220bc80f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete:\usuarios\(id):restaurante-system-api-config">
        <salesforce:query doc:name="Query" doc:id="db3cfb88-1c05-47e3-a5fa-f912e75d963a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Usuarios__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="60d24aa4-77cb-465d-9d08-04d76110f513" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="bf973305-7923-4f83-8495-9c6b695de0fd" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="a4013b0a-978f-4923-9365-5c6533ba3aef" >
			<when expression='#[payload.successful == false]'>
				<ee:transform doc:name="Transform Message" doc:id="b1b3b6fe-bb90-40c8-9121-a060da9798a3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al eliminar el usuario. Por favor revise la informacion o intente mas tarde."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="44fdc4d6-6fda-4b71-a35d-d0a89e1d51ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Usuario eliminado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="delete:\kart\(id)\(idP):restaurante-system-api-config" doc:id="572cd0db-765a-4f82-bf7f-3648cb053d0c" >
		<salesforce:query doc:name="Query" doc:id="0140d3dc-3690-49d5-b800-047dcf02b206" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Kart__c
WHERE IdProducto__c = ':idP']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	idP : attributes.uriParams.idP
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="2019d315-a5d8-4702-b07f-95d83620ee69" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="fcc770e7-25cb-4687-961b-cdc6693a0be3" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="fba338e5-53ff-431b-b365-5750c1115154" >
			<when expression="#[payload.successful == false]">
				<ee:transform doc:name="Transform Message" doc:id="398a490e-9762-469d-a7b9-6efd4852262a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Ocurrio un error al eliminar el producto.
	Revise la informacion o intente mas tarde."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="2a2e5ff6-5a04-444b-bc93-44d697ab197e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Producto eliminado del carrito."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="delete:\reservar\(id):restaurante-system-api-config">
		<salesforce:query doc:name="Query" doc:id="90910175-cb3f-4590-bbff-c5140e10861c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Reservaciones__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="f827cc7f-a685-4f4f-94c7-ffcddfa62666" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="02411d38-df02-455a-a0f4-6add86d4e5a2" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="13fb2350-0b2f-4c2f-b22a-c4051e9cee4a" >
			<when expression='#[payload.successful == false]'>
				<ee:transform doc:name="Transform Message" doc:id="af116e65-cf9d-4105-9b94-c5a7ec7b262b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al eliminar la reservacion. Revise la informacion o intente mas tarde."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="198b77d1-067d-4f8e-8025-84e85e5986fe" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Reservacion eliminada."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="delete:\menu\(id):restaurante-system-api-config">
		<salesforce:query doc:name="Query" doc:id="ec26496d-efc3-4071-890a-ef9e1965968c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID
FROM Menu__c
WHERE ID = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="48c2c76d-1aca-4dea-ba30-07fc32b02bb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload[0].Id]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="c591d6fa-7f6c-46ff-82e8-36a2124890f8" config-ref="Salesforce_Config"/>
		<choice doc:name="Choice" doc:id="24479a92-5207-40de-8839-174e0de5e02c" >
			<when expression="#[payload.successful == false]">
				<ee:transform doc:name="Transform Message" doc:id="9b987b24-f5a5-4796-a783-c2ce16cbbcb4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Ocurrio un error al eliminar el menu. Revise la informacion o intente mas tarde."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="47a9f38f-66ea-4338-a8d2-2b9fbc2ffc00" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Menu eliminado."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\menu:restaurante-system-api-config">
        <choice doc:name="Choice" doc:id="e0ad993b-c60f-4451-b7e3-62fd8ee3945b" >
			<when expression="#[attributes.queryParams.nombre?]">
				<salesforce:query doc:name="Query" doc:id="73aa4d3d-8bfc-4cec-b293-dc2156bf0d0e" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Precio__c, Porciones__c,
	Tiempo_de_preparacion__c, Imagen__c
FROM Menu__c
WHERE Nombre__c LIKE ':nombre']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	"nombre" : '%' ++ attributes.queryParams.nombre ++ '%'
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="ddb70e68-71ca-4320-9941-01ab23f90514" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Precio__c, Porciones__c,
	Tiempo_de_preparacion__c, Imagen__c
FROM Menu__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="d4f23c7a-8eed-4c93-84fa-7f74eedb7a20" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Transform Message" doc:id="ffbf2ce4-37a5-431b-98f8-9dfe5fedaef8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
	<flow name="get:\ordenes:restaurante-system-api-config" doc:id="c9c43944-3d45-4e19-b48c-17f94b82bca4" >
		<choice doc:name="Choice" doc:id="d524a3e2-1c1e-40de-a1d3-fb8173976ec4" >
			<when expression='#[attributes.queryParams.activas == "true"]'>
				<salesforce:query doc:name="Query" doc:id="6c68b11e-90f1-4e4a-958f-35ad1dff9db4" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, ClienteId__c, Total__c, Tipo_pago__c, Tipo_entrega__c,
	Celular__c, Productos__c, Estado__c
FROM Ordenes__c
WHERE Estado__c = 'Activa']]></salesforce:salesforce-query>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="56a08239-a68d-439f-90f2-c5ac5cd0131b" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, ClienteId__c, Total__c, Tipo_pago__c, Tipo_entrega__c,
	Celular__c, Productos__c, Estado__c
FROM Ordenes__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="331b5b32-fc72-4b13-90be-f767d3d5d5c7" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Transform Message" doc:id="5ddb7399-1369-431d-b94f-f99437cf7bc8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="71a16f94-1ee4-4416-8ddd-50440d07c70f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\kart\(id):restaurante-system-api-config" doc:id="ce62fbd0-ca51-465e-bf86-a345b32a37e5" >
		<salesforce:query doc:name="Query" doc:id="3cd87b7b-d7c1-4c0a-a6c6-33045ca65bca" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	IdProducto__c, Precio__c
FROM Kart__c
WHERE IdUsuario__c = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="43c62f94-2b29-4e7e-80c2-b05464bd6b6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\reservar:restaurante-system-api-config">
		<choice doc:name="Choice" doc:id="f82d9c51-79eb-4858-9e75-06e576c6de16" >
			<when expression="#[attributes.queryParams.fecha?]" >
				<salesforce:query doc:name="Query" doc:id="4619f18a-a029-448f-b272-920bf6310e4d" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Fecha__c, Hora__c, Celular__c, Personas__c, Tipo_Pago__c, Anotaciones__c
FROM Reservaciones__c
WHERE Fecha__c = ':fecha']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	fecha : attributes.queryParams.fecha
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="3201bb17-edcc-4a0f-93a1-a8b32db40286" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Fecha__c, Hora__c, Celular__c, Personas__c, Tipo_Pago__c, Anotaciones__c
FROM Reservaciones__c]]></salesforce:salesforce-query>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="4e55c84c-4aed-49a9-9a2f-a2bde9f2ee63" >
			<when expression="#[sizeOf(payload) &lt; 1]">
				<ee:transform doc:name="Transform Message" doc:id="90ee2c16-ea9a-4d59-893a-713da0f086f9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "No se encontraron resultados."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\usuarios:restaurante-system-api-config">
        <salesforce:query doc:name="Query" doc:id="8f36dbc8-ba92-45a0-ba8c-904414faa3dc" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Nombre__c, Rol__c, Correo__c, Direccion__c, Celular__c
FROM Usuarios__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultados : sizeOf(payload),
	data : payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\menu:application\json:restaurante-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
	{
		Nombre__c : payload.Nombre,
		Precio__c : payload.Precio,
		Porciones__c : payload.Porciones,
		Tiempo_de_preparacion__c : payload.Tiempo,
		Imagen__c : payload.Imagen
	}
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create doc:name="Create" doc:id="d5cf6907-6b2d-4a4d-b4fa-cd86723b8d8e" config-ref="Salesforce_Config" type="Menu__c"/>
		<ee:transform doc:name="Transform Message" doc:id="83c12d46-533b-4320-bc44-d6ebf556cd55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\reservar:application\json:restaurante-system-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  Fecha__c: payload.Fecha,
  Hora__c: payload.Hora,
  Celular__c : payload.Celular,
  Personas__c: payload.Personas,
  Tipo_pago__c: payload.Pago,
  Anotaciones__c: payload.Anotaciones
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforce:create type="Reservaciones__c" doc:name="Create" doc:id="0fdca168-5988-4633-9015-3ef3f696908d" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="b0723fe0-b783-430c-82ca-0470162e157e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\kart:application\json:restaurante-system-api-config" doc:id="70278d8c-f218-48ed-b859-887aa826aba9" >
		<ee:transform doc:name="Transform Message" doc:id="8e59f4af-5a1d-459a-9cbb-5ad9735610db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	IdUsuario__c: payload.IdUsuario,
	IdProducto__c: payload.IdProducto,
	Precio__c: payload.Precio
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="ed4067bc-9abd-4412-b300-6cdc2bf64470" config-ref="Salesforce_Config" type="Kart__c"/>
		<ee:transform doc:name="Transform Message" doc:id="e68f189b-25cc-4431-80f4-d664280b8c1c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\ordenes:application\json:restaurante-system-api-config" doc:id="c0d42eec-2aab-46b6-aa5a-bd8f0ddd9232" >
		<ee:transform doc:name="Transform Message" doc:id="4de023f8-e45a-4421-8233-c1b236e410f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	ClienteId__c : payload.ClienteId,
	Total__c : payload.Total,
	Tipo_pago__c : payload.Tipo_pago,
	Tipo_entrega__c : payload.Tipo_entrega,
	Celular__c : payload.Celular default "",
	Productos__c : payload.Productos,
	Estado__c : "Activa"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Ordenes__c" doc:name="Create" doc:id="ce542a24-15dd-47d5-9416-7eb2c68b3752" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="af2b2df5-b56b-44ff-86de-b44eb79b0553" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\usuarios:application\json:restaurante-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="b88a1329-c7f3-49f3-a097-87017742b77d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	Nombre__c : payload.Nombre,
	Rol__c : "Cliente",
	Direccion__c : payload.Direccion,
	Correo__c : payload.Correo,
	Contrasena__c : payload.Contrasena,
	Celular__c : payload.Celular
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="0cc511af-a14a-49c3-b623-7bf3e5853261" config-ref="Salesforce_Config" type="Usuarios__c"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="post:\login:application\json:restaurante-system-api-config" doc:id="27dfa765-3132-410f-ad76-87d6200b4ae6" >
		<salesforce:query doc:name="Query" doc:id="e28849cf-d323-4af9-bd6d-3f37bfbdc4b2" config-ref="Salesforce_Config" escapeSpecialCharactersForParametersValue="true">
			<salesforce:salesforce-query ><![CDATA[SELECT
	ID, Correo__c, Rol__c
FROM Usuarios__c
WHERE Contrasena__c = ':contrasena'
AND Correo__c = ':correo']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	correo : payload.Correo,
	contrasena : payload.Contrasena
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="9547cea6-b988-4b2a-a29f-023fb706360e" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="d8d7a84a-acb9-479e-98ba-d2855c2d8312" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	logged : true,
	Rol : payload.Rol__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="e44ff86c-2b54-4d9e-879d-6ad250f0d560" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	logged : false
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
